<html>
  <head>
  	<title>Sign-Up</title>
		
		<script src="component/app.js"></script>
		<link rel="stylesheet" type="text/css" href="work/samplecss.css">
	 	<link href="work/bootstrap.css" type="text/css" rel="stylesheet">
	</head>
    <body >
	<div class="bg row" >                                                                    
		<div class=" hidden-xs col-sm-4"></div>
	 
			<div class="login col-xs-12 col-sm-4" >
				<form name="loginform" novalidate>
					<h1><b>Login</b></h1><hr><br/>
						<div class="form-group" >
						
						<input type="text" class="form-control" name="name"  placeholder="Enter Username" ng-model="name" required>
						
						<input type="password" class="form-control" name="password"  placeholder="Enter Password" ng-model="password" required>
						<button type="submit" class="btn btn-warning btn-block">Login</button>
						</div>
				</form>
				<center><font style="color:white"> New User?  </font><a href="sample2.html" class="create" >Create an Account</a></center>
			</div> 
		</div> 
	</div>
	  </body>
	  </html>